# Database
ConnectionStrings__DefaultConnection="Host=localhost;Port=5432;Database=brokerdb;Username=postgres;Password=YOUR_PASSWORD_HERE"

# Firebase
Firebase__ProjectId="YOUR_PROJECT_ID"

# Google Cloud Platform
GCP__BucketName="YOUR_BUCKET_NAME"
GCP__ProjectId="YOUR_PROJECT_ID"

# Google Drive
GoogleDrive__KeyFilePath="YOUR_KEY_FILE_PATH.json"
GoogleDrive__ReportsFolderId="YOUR_FOLDER_ID"
GoogleDrive__RootFolderIds__0="YOUR_FOLDER_ID"
